@import 'config';
@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo';
  line-height: 1.6;
  background: $dark-color;
  color: $light-color;
}

.container {
  max-width: $max-width;
  padding: 0 1rem;
  margin: 0 auto;
  height: 100%;
}

h1, h2 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: set-text-color(#000);
}

img {
  width: 100%;
}

#main-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.4rem;
      .logo {
        margin: 0;
        font-size: 3.5rem;
        letter-spacing: 0.6rem;
        line-height: 1;
        font-weight: 700;
        overflow-y: hidden;
      }

      ul {
        display: flex;
        li {
          padding: 1rem;

          a {
            font: {
              size: 1.2rem;
              weight: 400;
            }
            &:hover,
            &.current {
              color: $main-color;
            }
          }
        }
      }
}

#header {
  &-main {
    height: 100vh;
    .showcase {
      display: flex;
      height: 80%;
      position: relative;
      
      &-text {
        align-self: center;
        h2 {
          font-size: 4rem;
          font-weight: 300;
          left: -2.5px;
          position: relative;
          @include animate-slideY(500px, 1s);
        }

        h3 {
          font-size: 2rem;
          font-weight: 400;
        }

        p {
          font-size: 1.1rem;
          max-width: 450px;
        }

        [class^='btn-'] {
          font-size: 1.1rem;
          margin-top: 2rem;
          font-weight: 700;
          position: relative;
          @include animate-slideY(-500px, 1s, 1s);
        }

        h3,
        p {
          position: relative;
          @include animate-slideX(-500px, 1s, 1s);
        }
      }

      &-img {
        background: {
          image: $showcase-img;
          position: center;
          repeat: no-repeat;
        }
        position: absolute;
        right: -1rem;
        bottom: 12.5%;
        height: 488px;
        width: 750px;
        z-index: -1;
      }

    }
  }

  &-inner {
    height: 5rem;
    border-bottom: 3px $main-color solid;
  }
}

#home {
  &-a {
    padding-top: 1rem;
    background: $light-color;
    color: $dark-color;

    .specials {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      
      > div {
        i {
          color: $main-color;
        }
        h3 {
          text-transform: uppercase;
          font-size: 2rem;
          letter-spacing: 0.2rem;
        }
      }
    }
  }

  &-b {
    background-color: $light-color;
    padding-bottom: 0;
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      li {
        line-height: 2;
        &.stats-title {
          font-size: 1.5rem;
        }
        &.stats-number {
          font-size: 2rem;
          font-weight: 700;
        }
      }

      ul {
        padding: 3rem 0;

        &:nth-child(odd) {
          background-color: #ccc;
          color: set-text-color(#ccc);
        }
        
        &:nth-child(even) {
          background: #ddd;
          color: set-text-color(#ddd);
        }
      }
    }
  }

  &-c {
    padding-top: 1rem;
    .steps {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      &-icon {
        margin: {
          top: 3rem;
          bottom: 1rem;
        }
        width: 120px;
        height: 120px;
        line-height: 120px;
        background-color: $light-color;
        color: $dark-color;
        position: relative;
        border-radius: 50%;
        transition: all 0.5s;
        
        &:hover {
          height: 150px;
          width: 150px;
          line-height: 150px;
          font-size: 5rem;
          background: $main-color;
          color: $light-color;

          .steps-number {
            background: $light-color;
            color: $dark-color;
          }
        }
      }

      &-number {
        position: absolute;
        top: -0.3rem;
        right: -0.3rem;
        font: {
          size: 2rem;
          weight: 400;
          family: 'Cairo' !important;
        }
        height: 40px;
        width: 40px;
        line-height: 40px;
        background: $main-color;
        color: #fff;
        border-radius: 50%;
        transition: all 1s;
        cursor: default;
      }

      h3 {
        font-size: 2rem;
      }
    }
  }
}

#about {
  &-a {
    background-color: $light-color;
    color: set-text-color($light-color);
    padding-top: 1rem;

    .about-grid {
      h3 {
        font-size: 2rem;
        font-weight: 600;
      }
      p {
        font-size: 1.1rem;
      }
      display: grid;
      gap: 1.5rem;
      margin-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
      .bio {
        border-left: 3px $main-color solid;
        grid-column: span 2;
        background-color: #eee;
        padding: 1rem;
      }
      .award {
        justify-content: space-between;
        i {
          color: $main-color;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }
  &-b {
    padding-top: 1rem;
    
    ul {
      padding: 1rem;
      .progress-bar {
        h3 {
          font-weight: 600;
          text-transform: uppercase;
          text-align: left;
          padding-left: 0.2rem;
          &:after {
            content: ':';
          }
        }

        div,
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 20px;
          border-radius: 10px 8px 8px 10px;
          background: $light-color;
        }

        position: relative;

        div {
          position: absolute;
          background: $main-color;
          border-radius: 8px 0 0 8px;
        }
        div.show {
          @include animate-progressBar(3s);
        }

        margin-bottom: 1rem;
      }
    }
  }
  &-c {
    background: $light-color;
    color: set-text-color($light-color);
    .about-photos {
      margin-top: 2rem;
      display: flex;
      img {
        padding: 1rem;
      }
    }
  }
  &-d {
    .about-reviews {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 2rem;
      gap: 2rem;

      p {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 150px;
        padding: 1rem;
        margin-bottom: 1rem;
        background: #eee;
        color: set-text-color(#eee);
        border-left: 3px $main-color solid;
      }
      .reviewer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0.5rem;
        margin-top: 1.5rem;
        img {
          width: 70px;
          height: 70px;
          border-radius: 100%;
          object-fit: cover;
        }
        span {
          font-weight: 600;
          margin-left: 1rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}

#work {
  &-a {
    background: $light-color;
    color: set-text-color($light-color);
    .gallery {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.75rem;

      .item {
        box-shadow: 5px 5px 10px #333;
        position: relative;
        overflow: hidden;

        .text-container {
          position: absolute;
          height: 100%;
          color: $light-color;
          display: flex; 
          font-weight: 600;
          padding: 1rem;
          align-items: center;
          top: 0;
          left: 0;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($main-color, 0.8);
            height: 100%;
            width: 100%;
            transform: scale(2) translateX(-85%) translateY(-85%) rotate(-45deg);
            transition: transform 0.7s;
          }

          p {
            position: relative;
            top: -100%;
            opacity: 0;
            z-index: -1;
            cursor: default;
          }

          &:hover {
            &:after {
              transform: scale(2) translateX(0) translateY(0) rotate(-45deg);
            }
            p {
              transition: top 0.6s, opacity 1s;
              opacity: 1;
              top: 0;
              z-index: 99;
            }
          }
        }

        .img-container {
          img {
            display: block;
          }
        }
      }
    }
  }
}

#contact {
  &-a {
    background: $light-color;
    color: set-text-color($light-color);

    form {
      max-width: 80%;
      margin: 0 auto;

      > div {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        input {
          border: 1px #bbb solid;
          padding: 0.5rem;

          &:focus {
            outline: none;
          }
        }

        textarea {
          grid-column: span 2;
          height: 8rem;
          resize: none;
          padding: 0.5rem;
          border: 1px #888 solid;

          &:focus {
            outline: none;
          }

          font: {
            family: sans-serif;
            size: 1rem;
          }
        }
      }
    }

    input[type="submit"] {
      width: 30%;
      margin-top: 1rem;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
  &-b {
    background: $dark-color;
    .contact-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      > div {
        margin: 0 2rem;
        color: $light-color;
        padding: 1rem;
      }
    }
  }
  &-c {
    background-color: $main-color;
    h2 {
      font-size: 4rem;
      font-weight: 400;
    }
  }
}

#main-footer {
  background: #333;
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .copyright {
      font-weight: 400;
    }
    .socials {
      display: flex;
      i {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 1.5rem;
      }
      a {
        display: flex;
        margin: 0 1rem;
        line-height: 70px;
        border: 2px #fff solid;
        padding: 0.25rem;
        border-radius: 50%;

        &:hover {
          border-color: $main-color;
          i {
            color: $main-color;
          }
        }
      }
    }
  }
}

// Import media queries after initial styles applied
@import 'media';