.bg-img,
.bg-img-s {
  height: calc(-webkit-fill-available - var(--navbar-height));
}

h1,
.form .form-heading h1,
.about .about-info h1 {
  line-height: 1;
}

h2 {
  line-height: 1.2;
}

header .navbar .container.flex {
  flex-direction: column;
}

header .navbar {
  height: 100%;
  margin-bottom: 1rem;
}

header .navbar-logo {
  text-align: center;
}

header .navbar ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

header .navbar a:hover {
  background-color: unset;
}

.page-heading span {
  display: block;
  font-size: 5rem;
}

.page-heading h1 {
  font-size: 4rem;
  line-height: 1.3;
  padding-bottom: 1rem;
}

.page-heading p {
  font-size: 1rem;
  margin: 0;
}

br {
  line-height: 3;
}

.showcase .container {
  padding: 2rem 0;
}

.history .grid {
  grid-template-columns: 1fr;
  padding: 0;
}

.history .history-info {
  text-align: center;
  padding: 1rem;
}

.history img {
  height: auto;
}

.benefits .grid {
  grid-template-columns: 1fr;
}




.about span {
  display: block;
}

.about .about-info {
  padding: 2rem 0;
}

.information .grid {
  grid-template-columns: 1fr;
  gap: 1rem;
}

.information .information-section {
  padding: 1rem 0;
  text-align: center;
}

.information li {
  padding-bottom: 1rem;
}

.reviews .grid {
  padding: 1rem;
}

.reviews .card {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  gap: 0;
  text-align: center;
}

.reviews img {
  width: 250px;
  height: 250px;
  justify-self: center;
  align-self: flex-end;
  padding-bottom: 1rem;
}

.reviews {
  background-position-x: -2200px;
  background-position-y: -1200px;
}

.form {
  background-position: -1250px -1000px;
}

.form .form-heading h2 {
  padding: 0 1rem;
}

.form .container {
  padding-bottom: 3px;
}

.details,
.details .grid {
  padding: 0;
}

.details .grid {
  grid-template-columns: 1fr;
  gap: 0;
  padding-bottom: 3px;
}