@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgba(48, 48, 48, 1);
  --primary-text-color: #fff;
  --secondary-color: rgba(207, 162, 95, 0.95);
  --tertiary-color: #fff;
  --highlight-color: rgb(73, 73, 73);
  --card-color: rgb(226, 226, 226);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
}

.card {
  background-color: rgb(226, 226, 226);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.dark {
  background-color: var(--primary-color);
}
.light {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}
.orange {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 400;
}

.btn:hover {
  color: var(--secondary-color);
}

/* Background image div */
.bg-img,
.bg-img-s {
  position: relative;
}

.bg-img {
  background-position: bottom right;
  height: 100vh;
  width: 100%;
}

.bg-img-s {
  background-position: center;
}

/* Background overlay */
.bg-img-o {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #0008;
  overflow-y: hidden;
}

.page-heading {
  line-height: 1.6;
  font-weight: 400;
  font-size: 24px;
}

.page-heading h1 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 3px;  
}

/* For background image overlay */
.container > * {
  position: relative;
  z-index: 2;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

p {
  line-height: 1.6;
}

span {
  color: var(--secondary-color);
}

/* Navbar */
.navbar {
  position: absolute;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 10;
}

.navbar .container {
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  font-weight: 500;
}

.navbar nav a {
  padding: 20px;
}

.navbar-logo {
  font-weight: 900;
  font-size: 40px;
}

.navbar a:hover,
.navbar .navbar-logo:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.navbar .navbar-logo:hover {
  background-color: unset;
}

/* Showcase */
.showcase {
  background-image: url(images/photo-1.jpg);
}

/* History */
.history p {
  margin-bottom: 1rem;
}

/* .history .container > * {
  padding: 30px;
} */

/* Benefits */
.benefits {
  background-image: url(images/photo-1.jpg);
}

.benefits .grid {
  grid-template-columns: repeat(3, 1fr);
}

.benefits .card {
  padding: 80px;
}

.benefits i {
  margin-bottom: 30px;
}

/* Footer */
.footer {
  font-weight: 400;
  text-align: center;
}

.footer .container {
  padding: 20px;
}

/* ABOUT PAGE  */

/* About */
.about {
  background-image: url(images/photo-2.jpg);
}

/* Information */
.information .information-section {
  padding: 30px 0;
  height: 100%;
}

.information .information-section ul {
  list-style: none;
}

/* Reviews  */
.reviews {
  background-image: url(images/photo-3.jpg);
  padding-bottom: 125px;
}

.reviews img {
  border-radius: 100%;
}

.reviews h2 {
  padding: 50px;
  font-size: 32px;
}

.reviews .grid {
  grid-template-columns: 1fr;
}

.reviews .card {
  background-color:rgba(207, 162, 95, 0.8);
  font-size: 22px;
  font-style: italic;
  color: var(--primary-color);

  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  gap: 70px;
  padding: 30px 80px;
}

.reviews .card p::before,
.reviews .card p::after {
  content: '"';
}