@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  /* color: #333; */
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .container {
  overflow: visible;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .real-logo {
  height: 100%;
  width: 80px;
  margin-right: 1rem;
}

.navbar .nav-left:hover {
  border: none;
}

.navbar .nav-right li {
  margin: 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.navbar a:hover {
  border-bottom: 1px white solid;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase .container {
  grid-template-columns: 2fr 1fr;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
  -webkit-animation: slideInFromLeft 1s ease-in;
  -o-animation: slideInFromLeft 1s ease-in;
  -moz-animation: slideInFromLeft 1s ease-in;
}

.showcase-text a {
  font-weight: 600;
  margin-bottom: 1rem;
}

.showcase-form {
  position: relative;
  top: 60px;
  width: 350px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
  -webkit-animation: slideInFromRight 1s ease-in;
  -o-animation: slideInFromRight 1s ease-in;
  -moz-animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form textarea {
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 1px black solid;
  width: 100%;
  padding: 3px;
  font-size: 14px;
  resize: none;
  font-family: sans-serif;
}

.showcase-form input[type='submit'] {
  -ms-progress-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.showcase-form textarea:invalid {
  box-shadow: none;
}

.showcase-form input:focus,
.showcase-form textarea:focus {
  outline: none;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
}

/* Stats */
.stats {
  padding-top: 75px;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
}

.stats .grid i {
  color: red;
}

/* Branches */

.branches .flex {
  flex-direction: column;
}

.branches .luftwaffe {
  order: 1;
  grid-column: span 2;
}

.branches .card {
  color: black;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  min-width: 220px;
}

.branches .card h3 {
  font-size: 25px;
  padding-top: 0;
}

.branches .card:hover {
  transform: scale(0.98);
}

/* Blitzkrieg */
.blitzkrieg .grid {
  grid-template-columns: 4fr 5fr;
}

.blitzkrieg img {
  height: 100%;
}

/* Benefits */
.benefits img {
  height: 100px;
}

.benefits .flex {
  flex-wrap: wrap;
}

.benefits .card {
  text-align: center;
  margin: 18px 10px 20px;
  transition: transform 0.15s ease-in;
}

.benefits .card h4 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.benefits .card:hover {
  transform: translateY(-15px);
}

/* Features * Features */
/* Features * Features */
/* Features * Features */
.features-head .grid {
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.features-head object {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(106%) contrast(102%);
  justify-self: flex-end;
  width: 300px;
  height: 100%;
}

/* Sub Head */
.features-subhead .grid {
  grid-template-columns: 1fr 1fr;
}

.features-subhead-2 .grid {
 grid-template-columns: 2fr 1fr; 
}

.features-subhead i {
  width: 300px;
  text-align: center; 
  justify-self: flex-end;
}

/* Features */

.features-content-1 .card  {
  grid-template-columns: 1fr 6fr;
  height: auto;
}

.features-content-1 p  {
  line-height: 1.3;
}

.features-content-1 .grid {
  gap: 40px;
}

.features-content-1 .luftwaffe {
  grid-template-columns: 2fr 5fr;
}

.features-content-1 .card .flex {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.features-content-1 h1 {
  margin: 0;
}

.features-content-2 .grid {
  column-gap: 0;
}

.features-content-2 .card i {
  margin-right: 30px;
}

.features-content-2 .grid >*:nth-child(1) {
  grid-column: span 3;
}

.features-content-2 .grid >*:nth-child(6) {
  grid-column: span 2;
}

/* Armory * Armory */
/* Armory * Armory */
/* Armory * Armory */

.armory-head .grid {
  gap: 0;
}

.armory-head i {
  justify-self: flex-end;
  width: 300px;
  text-align: center;
}

.armory-main .grid {
  grid-template-columns: 2fr 5fr;
}

.armory-main .selections .selected-section{
  color: red;
}

.armory-main .selections ul {
  margin-left: 1rem;
}

.armory-main .selections a {
  color: black;
}

.armory-main .selections a:hover {
  color: red;
}

.armory-main .selections {
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.armory-main .selected .container {
  margin: 0 3rem;
}

.armory-main .selected .weapon {
  margin-bottom: 5rem;
}

.armory-main .selected .weapon:last-child {
  margin-bottom: 2rem;
}

.armory-main .selected h2 {
  margin-bottom: 2rem;
}

.armory-main .selected h3 {
  border-bottom: 1px black solid;
  font-size: 25px;
  margin-bottom: 1rem;
}

.armory-main .selected p {
  line-height: 1.3;
}

.armory-main .selected .alert {
  margin-bottom: 10px;
}

/* Footer */
.footer .footer-nav {
  justify-self: center;
}

.footer .army-flag {
  width: 100px;
  height: auto;
  padding: 1rem;
  transition: transform 0.1s ease-in;
}

.footer .army-flag:hover {
  transform: scale(1.1);
}

.footer .footer-armies {
  grid-area: 1 / 2;
}

.footer {
  padding: 1rem;
  margin-bottom: 0;
}

.footer .footer-nav a {
  color: white;
}

.footer .footer-nav a:hover {
  border-bottom: 1px white solid;
}

@media (max-width: 1200px) {
  .stats .grid {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
  }

  .stats .grid div {
    min-width: 200px;
  }

  .main-heading {
    font-size: 40px;
  }

  .branches .grid {
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    margin: 50px auto;
  }

  .armory-main .selections {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
  }

  .armory-main .sub-section {
    justify-self: flex-end;
    font-size: 25px;
  }

  .armory-main .selections ul {
    margin: 0;
  }
  
  .armory-main .grid {
    grid-template-columns: 1fr;
  }

  .footer .grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer .footer-armies {
    grid-column: span 2;
  }

  .footer .footer-nav {
    justify-self: flex-end;
  }
}

/* Tablets and under */
@media(max-width: 870px) {
  .grid,
  .footer .grid,
  .showcase .grid,
  .blitzkrieg .grid,
  .benefits .grid,
  .features-head .grid,
  .features-subhead .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  .navbar h1 {
    font-size: 22px;
    align-self: center;
  }
  
  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin: 40px;
    margin-bottom: 0;
  }

  .showcase-form {
    justify-self: center;
  }

  .main-heading {
    font-size: 50px;
  }

  .stats .grid {
    margin-top: 50px;
  }

  .blitzkrieg .text-center {
    order: 1;
  }

  .blitzkrieg,
  .blitzkrieg h2 {
    margin: 0;
  }

  .blitzkrieg {
    padding-top: 0;
  }

  .blitzkrieg .grid {
    gap: 0;
  }

  .blitzkrieg img {
    height: 200px;
    width: 350px;
    justify-self: center;
    margin-right: 25px;
  }

  .features-head .grid,
  .features-subhead .grid,
  .armory-head .grid {
    text-align: center;
    padding: 0 100px;
    gap: 30px;
  }

  .features-subhead i,
  .armory-head i {
    justify-self: center;
  }

  .features-head .grid object {
    justify-self: center;
  }

  .features-content-1 .card.grid {
    grid-template-columns: 1fr 2fr;
  }

  .features-content-1 .card.luftwaffe {
    grid-template-columns: 1fr 1fr;
  }
  
  .features-content-2 .grid >*:nth-child(1) {
    grid-column: 1;
    flex-direction: column;
  }

  .features-content-2 .grid >*:nth-child(1) i {
    margin: 0;
  }

  .features-content-2 .grid >*:nth-child(6) {
    grid-column: 1;
  }

  .armory-main .selected .container {
    margin: 0;
    margin-left: 1rem;
  }
  
  .armory-main .selected h2 {
    font-size: 30px;
  }

  .armory-main .selections {
    grid-template-columns: 1fr;
  }
  
  .armory-main .sub-section {
    justify-self: flex-start;
  }

  .footer .grid {
    gap: 0;
  }

  .footer .footer-nav {
    grid-row: 3;
    justify-self: center;
  }

  .footer .footer-nav ul {
    display: flex;
    justify-content: center;
  }

  .footer .footer-nav li {
    margin: 0 1rem;
  }

  .footer .footer-copyright h1 {
    margin-top: 0;
  }

  .footer .footer-copyright {
    grid-row: 2;
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer .footer-armies {
    grid-column: auto;
  }

  .footer .footer-armies .flex {
    flex-wrap: wrap;
  }
}

/* Mobile */
@media(max-width: 540px) {
  .navbar {
    height: auto;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar .nav-right {
    flex-direction: row;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
  }

  .navbar .nav-right li {
    margin: 10px 15px;
  }

  .navbar .nav-left img {
    margin: 0;
  }

  .showcase-text {
    margin: 1rem;
  }

  .showcase-form {
    width: auto;
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }

  .showcase-form .form-control,
  .showcase-form input[type='submit'],
  .showcase-form h2 {
    margin: 10px;
  }

  .btn:hover {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .stats .grid {
    grid-template-columns: 1fr;
  }

  .stats .grid div:last-child {
    grid-column: auto;
  }

  .branches .grid {
    margin-bottom: 2rem;
  }

  .branches .grid > *:not(.luftwaffe) {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
  }

  .features-content-1 .card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .features-content-1 .card h1 {
    align-self: center;
  }

  .features-content-1 .card:not(.luftwaffe) img {
    width: 200px;
  }

  .armory-main {
    margin: 0;
  }

  .armory-main .card {
    box-shadow: none;
  }

  .armory-main .grid {
    padding: 0;
    gap: 0;
  }

  .armory-main .selected {
    margin: 0;
    padding: 5px;
  }

  .armory-main .selected .container,
  .armory-main .selections {
    margin: 0;
    justify-self: normal;
  }
}
