@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  /* color: #333; */
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  font-weight: 600;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .nav-left {
  display: flex;
}

.navbar .nav-left:hover {
  border: none;
}

.navbar .nav-left > * {
  margin-right: 1rem;
}

.navbar .real-logo {
  width: 70px;
}

.navbar .nav-right {
  display: flex;
}

.navbar a {
  color: white;
  padding-bottom: 5px;
  margin: 0 20px;
}

.navbar a:hover {
  border-bottom: 1px #fff solid;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase .container {
  grid-template-columns: 2fr 1fr;
}

.showcase-text a {
  font-weight: 600;
}

.showcase-form {
  position: relative;
  top: 60px;
  width: 350px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'],
.showcase-form textarea {
  border: 0;
  border-bottom: 1px black solid;
  width: 100%;
  padding: 3px;
  font-size: 14px;
  resize: none;
  font-family: sans-serif;
}

.showcase-form textarea {

}

.showcase-form textarea:invalid {
  box-shadow: none;
}

.showcase-form input:focus,
.showcase-form textarea:focus {
  outline: none;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
}

/* Stats */
.stats {
  padding-top: 100px;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

.stats .grid i {
  color: red;
}

/* Branches */

.branches {
}

.branches .flex {
  flex-direction: column;
}

.branches .luftwaffe {
  order: 1;
  grid-column: span 2;
}

.branches .card {
  color: black;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.branches .card h3 {
  font-size: 25px;
  font-family: cursive;
  padding-top: 0;
}

.branches .card:hover {
  transform: scale(0.98);
}

/* Blitzkrieg */
.blitzkrieg .grid {
  grid-template-columns: 4fr 5fr;
  padding: 0 30px;
}

.blitzkrieg img {
  height: 100%;
}

/* Benefits */
.benefits img {
  height: 100px;
}

.benefits .flex {
  flex-wrap: wrap;
}

.benefits .card {
  text-align: center;
  margin: 18px 10px 20px;
  transition: transform 0.2s ease-in;
}

.benefits .card h4 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.benefits .card:hover {
  transform: translateY(-15px);
}

/* Footer */
.footer .footer-nav {
  justify-self: center;
}

.footer .army-flag {
  width: 100px;
  height: auto;
  padding: 1rem;
  transition: transform 0.1s ease-in;
}

.footer .army-flag:hover {
  transform: scale(1.5);
}

.footer .footer-armies {
  grid-area: 1 / 2;
}

.footer {
  padding: 1rem;
}

.footer .footer-nav a {
  color: white;
}

.footer .footer-nav a:hover {
  border-bottom: 1px white solid;
}

@media (max-width: 1200px) {
  .stats .grid {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
  }

  .stats .grid div {
    min-width: 200px;
  }

  .main-heading {
    font-size: 40px;
  }

  .branches .grid {
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    margin: 50px auto;
  }

  .branches {

  }

  .footer .grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer .footer-armies {
    grid-column: span 2;
  }

  .footer .footer-copyright p {
    margin: 0;
  }

  .footer .footer-nav {
    justify-self: flex-end;
    align-self: flex-end;
  }

  .footer .footer-nav ul {
    display: flex;
  }

  .footer .footer-nav li {
    margin-left: 1rem;
  }
}

/* Tablets and under */
@media(max-width: 870px) {
  .grid,
  .showcase .grid,
  .blitzkrieg .grid,
  .benefits .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .navbar .logo {
    margin: 0 10px;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin: 40px;
  }

  .showcase-form {
    justify-self: center;
  }

  .main-heading {
    font-size: 50px;
  }

  .stats .grid {
    margin-top: 50px;
  }

  .blitzkrieg .text-center {
    order: 1;
  }

  .blitzkrieg,
  .blitzkrieg h2 {
    margin: 0;
  }

  .blitzkrieg {
    padding-top: 0;
  }

  .blitzkrieg .grid {
    gap: 0;
  }

  .blitzkrieg img {
    height: 200px;
    width: 350px;
    justify-self: center;
    margin-right: 25px;
  }

  .footer .grid {
    grid-template-columns: 1fr;
  }

  .footer .footer-copyright {
    justify-self: center;
    text-align: center;
  }

  .footer .footer-nav {
    grid-row: 3;
    justify-self: center;
  }

  .footer .footer-nav li {
    margin: 0 1rem;
  }

  .footer .footer-armies .flex {
    flex-wrap: wrap;
  }
}

/* Mobile */
@media(max-width: 540px) {
  .navbar {
    height: 130px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar .nav-right {
    padding: 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
  }

  .navbar .nav-left {
    margin-top: 20px;
  }

  .showcase {
    padding: 1rem;
  }

  .stats .grid {
    grid-template-columns: 1fr;
  }

  .stats .grid div:last-child {
    grid-column: auto;
  }

  .branches .grid {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
