// Tablets & smaller
@media (max-width: 1250px) {
  #header {
    &-main {
      #main-nav {
        padding: 0.4rem 0;
      }
      height: auto;
      .showcase {
        padding: 2rem 0;

        &-text {
          [class^='btn-'] {
            @include animate-slideX(-500px, 1s);
          }
        }

        &-img {
          height: 100%;
          width: calc(100% + 2rem);
          margin-right: -1rem;
          top: 0;
          right: 0;
          background: {
            size: cover;
          }

          &:after {
            content: '';
            position: absolute;
            background-color: #000a;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;  
          }
        }
      }
    }
  }

  #home {
    &-a {
      .specials {
        grid-template-columns: 1fr 1fr;
      }
    }

    &-b {
      .stats {
        grid-template-columns: 1fr 1fr;
        ul {
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;
          }
        }
      }
    }

    &-c {
      .steps {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  #about {
    &-a {
      .about-grid {
        .bio {
          grid-column: span 3;
          order: -1;
        }
        img {
          grid-column: span 3;
        }
      }
    }

    &-d {
      padding-top: 1rem;

      .about-reviews {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        div {
          .reviewer {
            // justify-content: center;
            margin: 0;
          }
        }
      }
    }
  }

  #work {
    &-a {
      .gallery {
        grid-template-columns: 1fr 1fr;
        .item {
          &:hover p {
            // top: 10;
          }
        }
        
      }
    }
  }
}

// Contact form
@media (max-width: 680px) {
  #contact {
    &-a {
      input[type="submit"] {
        width: 100%;
      }
      form > div input {
        grid-column: span 2;
      }
    }
    &-b {
      .contact-details {
        grid-template-columns: 1fr;
      }
    }
    &-c {
      padding: 2rem;
      h2 {
        margin: 0;
        font-size: 2rem;
      }
    }
  }
}

// Mobile
@media (max-width: 550px) {
  #main-nav {
    flex-direction: column;
    .logo {
      padding-top: 0.5rem;
    }
  }

  #header {
    &-main {
      .showcase {
        padding: 7rem 0;
        &-text {
          display: none;
        }
      }
    }
    &-inner {
      height: 100%;
    }
  }

  #home {
    &-a {
      .specials {
        grid-template-columns: 1fr;
        padding: 0rem;
      }
    }
    &-b {
      .stats {
        grid-template-columns: 1fr;
        ul {
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 2;
          }
        }
      }
    }
    &-c {
      .steps {
        grid-template-columns: 1fr;
        padding: 0rem;
      }
    }
  }

  #about {
    &-a {
      .about-grid {
        grid-template-columns: 1fr;
        .bio,
        img {
          grid-column: initial;
        }
      }
    }
    &-d {
      .about-reviews {
        grid-template-columns: 1fr;
        margin: {
          left: 2rem;
          right: 2rem;
        }
        .reviewer {
          justify-content: center;
        }
      }
    }
    &-c {
      .about-photos {
        flex-direction: column;
      }
    }
  }

  #work {
    &-a {
      .gallery {
        grid-template-columns: 1fr;
      }
    }
  }

  #main-footer {
    .footer-content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      .copyright {
        text-align: center;
      }
      .socials {
        a {
          margin: 0.5rem;
        }
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}