@media (max-height: 800px) {
  #showcase .showcase-text span {
    font-size: 3rem;
  }
  #showcase .showcase-text h1 {
    font-size: 2rem;
  }
}

@media (max-height: 400px) {
  #showcase .showcase-text .category {
    display: none;
  }

  #main-nav .container {
    display: flex;
    margin: 1rem 0;
  }

  #main-nav .container .nav-left .logo h1 {
    margin-top: 0.7rem;
  }
}