*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.83);
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  padding: 0.75rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-section ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#grid {
  display: flex;
  fill: #5f6368;
  cursor: pointer;
  padding: 10px;
}

#grid:hover {
  background-color:rgba(232,234,237,1);
  border-radius: 50%;
}

#avatar {
  display: flex;
}

#avatar:hover {
  box-shadow: 0 0 0 4px rgba(95, 99, 104, 0.1);
  border-radius: 50%;
}

.nav-section .clickable li {
  margin: 0 0.5rem;
}

.clickable li:hover {
  cursor: pointer;
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#center-container {
  margin-bottom: 200px;
  padding: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#center-container > div {
  width: 100%;
  margin: 1rem;
}

#search-container {
  display: flex;
  justify-content: space-between;
  border: 1px rgba(223, 225, 229, 1) solid;
  width: 10%;
  border-radius: 9999px;
  max-width: 596px;
}

#search-container:hover {
  box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
}

#search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-left: 12px;
}

#search-icon-container svg {
  height: 20px;
  width: 20px;
  fill: #9aa0a6;
}

#search-bar {
  width: 90%;
  border: none;
  padding: 0.8rem;
  margin-right: 1rem;
}

#search-bar:focus {
  outline: none;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: rgba(0, 0, 0, 0.75);
  font-size: 13px;
  cursor: pointer;
  border: none;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  background: #f8f9fa;
  letter-spacing: 0px;
}

.button:hover {
  border: 1px black rgba(223, 225, 229, 0.28);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

footer {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  min-height: 10%;
  background: rgba(0, 0, 0, 0.05);
}

#country {
  padding: 0.9rem;
  padding-left: 2rem;
}

#footer-bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

hr {
  border-top: thin;
  border-color: rgba(0, 0, 0, 0.3);
}

#carbon {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

#carbon img {
  margin-right: 0.5rem;
}

.meta-container {
  min-width: 30%;
}

.meta-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meta-container li {
  padding: 1rem 0;
}

.meta-container.left {
  order: 0;
}

.meta-container.left ul {
  justify-content: flex-start;
}

.meta-container.right {
  padding: 0;
  order: 2;
}

.meta-container.right ul {
  justify-content: flex-end;
}

.meta-container li + li {
  margin-left: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  #carbon {
    width: 100vw;
    margin: 2rem 0 1rem 0;
  }

  #footer-bottom {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .meta-container.left, .meta-container.right {
    order: 1;
  }
}

@media (max-width: 700px) {
  .meta-container.left {
    width: 100vw;
    margin: 0;
  }

  .meta-container.left ul {
    justify-content: center;
  }
}
